{% extends 'base.html' %}

{% block content %}

<style type="text/css">
	.p serif{
		font-family: "Times New Roman", Times, serif;
	}
</style>
<h3><p class="serif">Hi, {{request.user}}</p></h3>
<p align="right"><b><a href="/logout"><button type="button" class="btn btn-primary btn-sm">Logout</button></a></b></p>

<h5> <u>Student </u></h5> 	
<a href="/create/"/><button type="button" class="btn btn-primary btn-sm">Add student</button></a>
<a href="/student/"/><button type="button" class="btn btn-primary btn-sm">Student details</button></a><br/><br/>
<!-- <a href="http://127.0.0.1:8000/student_details_delete/<int:my_id>/"/> Delete student</a><br/>
 -->

<h5><u> Employee </u></h5>
<a href="/register"><button type="button" class="btn btn-primary btn-sm">Add admin/Register an admin </button></a></p>

{% endblock %}